:root {
    --primary-color:#e50914;
    --dark-color:#141414;
}

*{
    box-sizing: border-box;
    margin: 0;;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul{
    list-style: none;
}

h1,h2,h3,h4{
    color: #fff;
}

a{
 color: #fff;
 text-decoration: none;   
}

p{
    margin: 0.5rem 0;
}

img{
    width: 100%;
}

.showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('../img/background.png') no-repeat center center/cover ;
}

.showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top{
    position: relative;
    height: 90px;
    z-index: 2;
    height: 90px;
}

.showcase-top img{
width: 170px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);    

}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);

}

.showcase-content{
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex ;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}


.showcase-content h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p{
  text-transform: uppercase; 
   color: #fff;
   font-weight: 400;
   font-size: 1.9rem;
   line-height: 1.25;
   margin: 0 0 2rem;
}
   /*TABS*/
.tabs{
background: var(--dark-color);
padding-top:  1rem;
border-bottom:  3px sol #3d3d3d;
}

.tabs .container{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1rem;
align-items:center;
justify-content: center;
text-align: center;
}


.tabs{
font-size: 1.2rem;
padding-top: 0.5rem;
}

.tabs .container >div{
    padding: 1.5rem 0;
}

.tabs .container >div:hover{
color: #fff;
cursor: pointer;    
}

.tab-border{
    border-bottom: var(--primary-color) 4px solid;
}
/* TAB CONTENT*/
.tab-content{
    padding: 3rem 0;
    background: #000;
    
} 
#tab-1-content .tab-1-content-inner{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 2rem;
   align-items: center;
   justify-content: center;
}

.tabs
/*CONTAINER*/
.container{
max-width: 70%;
margin: auto;
overflow: hidden;
padding: 0 2rem;
}

/* TEXT STYLE*/
.text-xl{
   font-size: 2rem;
   margin-bottom: 1rem; 
   color: #fff;
}

.text-lg{
    font-size: 1.8rem;
    margin-bottom: 1rem; 
    color: #fff;
 }

 .text-center{
     text-align: center;
 }

 .text-dark{
     color: #999;
 }

/*BUTTONS*/
.btn{
display: inline-block;
background: var(--primary-color);
color: #fff;
padding: 0.4rem 1.3rem;
font-size: 1rem;
text-align: center;
border: none;
 cursor: pointer; 
margin-right: 0.5rem;
outline: none;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45) ;
border-radius: 2px;
}

.btn:hover{
    opacity: 0.9;
}

.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}


.btn-lg{
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}